body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

/************************************************ header */

ul,
a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    padding-bottom: 4rem;
}

.headerLogo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    padding-left: 200px;
}

.headerLinks {
    display: flex;
    margin-left: 0;
    font-size: 18px;
    padding-right: 200px;
    gap: 18px;
}

/********************************************** hero */

.hero {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 5rem;
    padding-bottom: 6rem;
}

.heroContent {
    padding-left: 200px;
    margin-right: auto;
    font-size: 18px;
}

.heroImg {
    padding-right: 200px;
    margin-left: auto;
}

h1 {
    font-size: 48px;margin
    font-weight: extra-bold;
    margin: 0;
}

button {
    color: #f9faf8;
    font-size: 1rem;
    font-weight: bold;
    background-color: #3882f6;
    padding: .5em 1.5em;
    border-radius: 8px;
    border: none;
}

/******************************************************* hero end*/

/******************************************************* content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

h2 {
    font-size: 36px;
    color: 1f2937;
    align-items: center;
    padding: 2rem 0;.card p {
    margin: 0;
    text-align: center;
}
}

.cards {
    display: flex;
    padding: 0 200px;
}

.card {
    text-align: center;
    color: #666;
}

.card img {
    position: center center;
}

.card img {
    border-radius: 12px;
    border: solid 4px #3882f6;
    justify-content: center;
}

/***************************************************** content end /*

/***************************************************** pull quote */

.pullQuote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10rem 20rem;
}

.quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: 300;
}

.attribute {
    text-align: right;
    font-size: 24px;
    font-weight: bold;

}

/*************************************************** pull quote end */

/*************************************************** call to action */

.callToAction {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 6rem 12rem;
    border-radius: 8px;
    padding: 2rem 6rem;
    display: flex;
    gap: 8rem;
    align-items: center;
}

.callToAction h3,
.callToAction p,
.callToAction button {
    margin: 6px;
}

.callToAction p {
    color: #e5e7eb;
}

.callToAction button {
    border: solid 2px #f9faf8;
    padding: 0 35px;
    text-wrap: nowrap;
    height: 35px;
    margin: 0;
}

/************************************************** call to action end */

/************************************************** footer */

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 1rem;
    font-size: 18px;
}